.Input
  background-color: var(--sec-block-color) !important
  border: none
  border-bottom: 1px solid var(--main-color) !important
  color: var(--main-color)
  padding: 2px
  box-sizing: border-box

  &:disabled
    color: var(--sec-color)
