.Post
  background-color: var(--sec-bg-color)
  padding: .5rem

  &__Title
    font-size: 1.5rem
    font-weight: 600
    border-bottom: 1px solid var(--main-color)

  &__Content
    margin-top: .1rem